@use "./index.scss" as *;

:root {
   /*===============================================
	①liquid design
	===============================================*/
   --liquid-lgDesignRatio: calc(#{$lg-design-width} / 10);
   --liquid-mdDesignRatio: calc(#{$md-design-width} / 10);
   --liquid-smDesignRatio: calc(#{$sm-design-width} / 10);
   --liquid-htmlroot: calc(
      calc(var(--vw, 1vw) * 100) / var(--liquid-lgDesignRatio)
   );
   --liquid-bodyroot: 1.6rem;

   @include mq(md) {
      --liquid-htmlroot: calc(
         calc(var(--vw, 1vw) * 100) / var(--liquid-mdDesignRatio)
      );
   }

   @include mq(sm) {
      --liquid-htmlroot: calc(
         calc(var(--vw, 1vw) * 100) / var(--liquid-smDesignRatio)
      );
   }

   /*===============================================
	②solid design
	===============================================*/
   --solid-root: 16px;

   /*===============================================
	③mobilefirst design
	===============================================*/
   --mobile-DesignWidth: #{$mobile-design-width};
   --mobile-ContentsWidth: #{$mobile-design-width};
   --mobile-ContentsRatio: var(--mobile-ContentsWidth) /
      var(--mobile-DesignWidth);
   --mobile-root: min(
      16px * var(--mobile-ContentsRatio),
      16 * 100 / var(--mobile-DesignWidth) * 1vw
   );
}

/*===============================================
html body
===============================================*/
body {
   background-color: $color-bg;
   color: $color-txt;
   letter-spacing: $letter-spacing-base;
   line-height: $leading-none;
   transition: opacity #{$duration / 3 + "s"} ease-in-out;
   .ff_en {
      letter-spacing: $letter-spacing-base;
   }
}

html {
   //liquid
   @if $designRoot==1 {
      font-size: var(--liquid-htmlroot);

      body {
         font-size: var(--liquid-bodyroot);
      }
   }

   //solid
   @else if $designRoot==2 {
      font-size: var(--solid-root);
   }

   //mobile
   @else if $designRoot==3 {
      font-size: var(--mobile-root);
   }
}

//set opacity to 1 after font is loaded
html.fonts-loaded body {
   opacity: 1 !important;
}

/*===============================================
UI
===============================================*/
a,
button {
   display: block;
}

a,
button,
input,
label,
textarea,
select {
   &:focus-visible {
      outline: $color-key solid 2px;

      @media (hover: none) {
         outline: none;
      }
   }
}

/*===============================================
br
===============================================*/
br {
   &.lg {
      @include mq(md) {
         display: none;
      }
   }
   &.lgmd {
      @include mq(sm) {
         display: none;
      }
   }
   &.mdsm {
      display: none;
      @include mq(md) {
         display: block;
      }
   }
   &.md {
      display: none;
      @include mq(md) {
         display: block;
      }
      @include mq(sm) {
         display: none;
      }
   }
   &.sm {
      display: none;
      @include mq(sm) {
         display: block;
      }
   }
}

/*===============================================
lenis
===============================================*/
html.lenis,
html.lenis body {
   height: auto;
}

.lenis.lenis-smooth {
   scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
   overscroll-behavior: contain;
}

.lenis.lenis-stopped {
   overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}

/*===============================================
mekuri
===============================================*/
html.mekuri-transitioning {
   cursor: wait !important;
   & * {
      pointer-events: none !important;
   }
}
