@use "@/css" as *;

.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: $spacing-1;
   padding: $spacing-1 $spacing-4;
   position: fixed;
   z-index: 9999;
   width: 100vw;
   top: 0;
   left: 0;
   color: $color-txt;
   @include mq(md) {
      flex-direction: column;
      padding: $spacing-1;
   }
}

.logoContainer {
   display: flex;
   align-items: center;
   gap: $spacing-1;
}
.logo {
   font-size: 2.4rem;
   font-weight: 800;
   span {
      display: block;
      font-size: 1.2rem;
      margin-top: 0.4rem;
   }
}
.github {
   width: $spacing-3;
   @include transition;
   transition-property: opacity;
   @include hover {
      opacity: 0.64;
   }
}

.linkWrapper {
   display: flex;
   gap: $spacing-1;
   @include mq(sm) {
      gap: $spacing-half;
   }
}

.link {
   font-size: 1.4rem;
   font-weight: bold;
   background-color: $color-grey;
   padding: $spacing-mini $spacing-1;
   border-radius: 100svh;
   @include hover {
      opacity: 0.64;
   }
   body[data-spice-rendered] & {
      @include transition;
      transition-property: opacity;
   }
   @include mq(sm) {
      padding: $spacing-mini;
      font-size: 1.2rem;
   }
}
