.box {
   width: min(100%, 1200px);
   height: 240px;
   margin: 40px auto 0;
   display: flex;
   align-items: center;
   justify-content: center;
   h1 {
      text-align: center;
      color: #fff;
   }
}

.red {
   background-color: red;
}
.green {
   background-color: green;
}
.blue {
   background-color: blue;
}
