.main {
   display: flex;
   align-items: center;
   margin-top: 72px;
   margin-bottom: -80px;
   position: relative;
}

.video {
   width: 200%;
   height: auto;
   position: absolute;
   z-index: -1;
   opacity: 0.16;
   bottom: 0;
   right: auto;
   top: 24%;
   left: -50%;
   margin: auto;
}

.linkWrapper {
   padding-left: 8%;
   a {
      color: #fff;
      font-size: 40px;
      text-decoration: underline;
      &:not(:first-child) {
         margin-top: 16px;
      }
   }
}
