.footer {
   height: 48px;
   width: 100%;
   margin-top: 80px;
   border-top: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 40px;
   font-size: 12px;
}

.linkList {
   display: flex;
   a {
      margin-left: 12px;
   }
}
