@use "@/css" as *;

.wrapper {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: $spacing-4;
   width: 100%;
   @include mq(md) {
      gap: $spacing-1;
   }
   div {
      width: 100%;
      height: 40svh;
      background-color: $color-grey;
      border-radius: $spacing-1;
      display: block;
      font-size: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mq(md) {
         height: 24svh;
      }
   }
}
