@use "@/css" as *;

.sample {
   display: flex;
   padding: $spacing-8;
   min-height: 100svh;
   width: 100%;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: $spacing-4 $spacing-4 0 0;
   margin-top: $spacing-10;
   @include mq(md) {
      margin-top: 12.8rem;
      padding: $spacing-4 $spacing-1;
   }
}
